* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
header {
    background-color: rgb(50, 96, 223);
    position: sticky;
    top: 0;
    z-index: 9;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* navbar */
.navbar {
    display: flex;
    min-height: 60px;
}
.container {
    display: flex;
    flex: 1;
}
.brand {
    margin: auto 0;
}
.brand > .logo {
    color: #fff;
    font-size: 30px;
}
.right-menu {
    display: flex;
    margin-left: auto;
}
.navbar-nav {
    display: flex;
}
.navbar-nav > .nav-item {
    margin: auto 0 auto auto;
}
.navbar-nav > .nav-item > a {
    display: inline-block;
    padding: 15px;
    color: #fff;
}
.navbar-nav > .nav-item > a:hover {
    background-color: #0289b5;
}

/* main */
.banner {
    background-color: rgb(50, 96, 223);
    min-height: 300px;
    display: flex;
    margin-bottom: 30px;
}
.banner-content {
    flex: 1;
    margin-top: 60px;
    text-align: center;
    color: #fff;
}
.search-box {
    margin: 0 auto;
    position: relative;
    width: 50%;
    margin-top: 30px;
}
.search-box > input {
    margin: 0 auto;
    padding: 15px;
    padding-left: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    opacity: 0.5;
}
.search-box > input,
.search-box > input::placeholder {
    font-size: 16px;
}
.search-box > input:focus {
    transition: all 0.5s;
    opacity: 1;
}
main > .movie-container {
    flex-direction: column;
}
.buffer {
    flex: 1;
    display: flex;
}
.buffer img {
    margin: 0 auto;
    width: 60%;
}
.alert {
    min-height: 500px;
}
movie-list {
    display: flex;
    justify-content: center;
    flex: 1;
}
movie-item {
    display: flex;
    flex-basis: 25%;
}
.movie-card {
    box-shadow: 1px 1px 8px 0px #ccc;
    margin-bottom: 15px;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.movie-card > .img-top {
    max-width: 100%;
}
.movie-card > .img-top > img {
    width: 100%;
}
.movie-card > .movie-info {
    padding: 10px;
}
genre-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}
genre-item {
    display: flex;
    flex-basis: 20%;
}
genre-item > .item {
    background-color: #00b8ff;
    color: #fff;
    margin: 10px;
    padding: 10px;
    flex: 1;
}
.pagination {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}
.page-item {
    background-color: rgb(50, 96, 223);
    border-radius: 5px;
    margin: 0 5px;
}
.page-item > span {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

/* footer */
footer {
    margin-top: 30px;
    box-shadow: 0px -2px 6px #ccc;
}
footer-bar {
    display: flex;
    flex: 1;
    min-height: 50px;
}
.copyright {
    margin: auto 0;
    color: #484848;
}

@media (max-width: 991.98px) {
    movie-list {
        flex-direction: column;
    }
    .buffer img {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .search-box {
        width: 100%;
    }
}
@media (max-width: 360px) {
    .brand > .logo {
        font-size: 24px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 740px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
    movie-list {
        flex-wrap: wrap;
    }
    .movie-card {
        margin: 10px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
